

{% for parentItem in menu %}
    {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
    {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
    {% set children = parentItem.children is defined and parentItem.children | length > 0  %}
    {% if not menuClass is defined %}
        {% set menuClass = 'c-menu-item' %}
    {% endif %}
    {% set special = '' %}

    {% if specialClass is defined and specialClassItems is defined and specialClass != '' and specialClassItems[0] != '' %}
        {% if parentItem.label != "" and parentItem.label|lower in specialClassItems %}
            {% set special = specialClass %}
        {% elseif parentItem.blogTitle != "" and parentItem.blogTitle|lower in specialClassItems %}
            {% set special = specialClass %}
        {% elseif parentItem.pageTitle != "" and parentItem.pageTitle|lower in specialClassItems %}
            {% set special = specialClass %}
        {% endif %}
    {% endif %}

    <li class="dropdown">
        <a  class="{{menuClass}} {{activeClass}} {{externalClass}} {{special}}"
            href="{{parentItem.link | raw}}"
            {% if parentItem.target != "" %} 
                target="{{parentItem.target}}"
            {% endif %} 
        >
            {% if parentItem.label != "" %}
                {{parentItem.label}}
            {% elseif parentItem.blogTitle != "" %}
                {{parentItem.blogTitle}}
            {% elseif parentItem.pageTitle != "" %}
                {{parentItem.pageTitle}}
            {% endif %}

        </a>
    

        {% if children %}

            <div class="list-arrow-container">
                <div class="list-arrow"><span class="o-arrow"></span></div>
            </div>


            <ul class="custom-menu">
                {% for childItem in parentItem.children %}
                    {% set babies = childItem.children is defined and childItem.children | length > 0 ? ' custom-menu-child--babies' : '' %}
                    {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                    {% set activeClass = (childItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}

                    <li class="custom-menu-child{{babies}}">
                        <a class="{{activeClass}} {{externalClass}} two" href="{{childItem.link |raw}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                            {{ ((childItem.label is empty) ? ((childItem.pageTitle is empty) ? childItem.blogTitle : childItem.pageTitle) : childItem.label)}}
                        </a>
                        {% if childItem.children is defined and childItem.children | length > 0 %}

                            <ul class="custom-menu-child-sub">
                                {% for babyItem in childItem.children %}
                                    <li class="">
                                        <a class="{{activeClass}} {{externalClass}} two" href="{{babyItem.link |raw}}" {% if babyItem.target != "" %}target="{{babyItem.target}}"{% endif %}>
                                            {{ ((babyItem.label is empty) ? ((babyItem.pageTitle is empty) ? babyItem.blogTitle : babyItem.pageTitle) : babyItem.label)}}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}