{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}


{% set networkData  = _Network.getNetworkData() %}
{% set blogInfo     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}

{% set relatedArticles = [] %}
{% set articleBlog = article.blog.title | lower %}

{% set articleBlogInfo = _Blog.getBlog({'guid':article.blog['guid']}) %}
{% set ArticleContent = article.content %}

{# {% set showPaywall = false %}


{% set pwstats = {} %}
{% if not _User.isGuest() %}
    {% set pwstats = _User.getPaywallStats(false) %}
{% endif %} #}





{# {% set paywallType = "" %}
{% if not _User.isAdminUser() and article.showPaywall == true %}

    {% set showPaywall = true %}
    
    
    {% if articleBlogInfo['paywallAllowSignupOnly'] == true %}
        
        
        {% if not _User.isGuest() %}
            {% set showPaywall = false %}
        {% else %}
            {% set paywallType = "signup" %}
        {% endif %}

        
    {% else %}
        
        {% if not _User.isGuest() %}

            {% if pwstats['type'] == 'article' %}
                {% set paywallType = "topup" %}
            {% elseif pwstats['type'] == 'time' %}
                {% set paywallType = "renew" %}
            {% else %}
                {% set paywallType = "upgrade" %}
            {% endif %}

        {% else %}
            {% set paywallType = "subscribe" %}
        {% endif %}
    {% endif %}
{% endif %}







{% set trialToggle = false %}

{% if showPaywall == true %}
    {% set storySplit = ArticleContent | split('<p>')  %}
    {% set para2_words = storySplit[2] | split(' ') | slice(0, 10) %}
    {% set para2 = para2_words | join(' ') ~ '</p>'  %}
    {% set ArticleContent = '<p>' ~ [storySplit[1], para2] | join('<p>') %}
    {% set plans 		= networkData['paywallPlans'] %}
    {% for plan in plans  %}
        {% if plan.trial_status == "1" %}
            {% set trialToggle = true %}
        {% endif %}
    {% endfor %}

{% else %}
    {% if config['inventory']['articleAd'] is defined %}
        {% set adPos = config['inventory']['articleAd']  %}
        
        {% set storySplit = ArticleContent | split('<p>')  %}

        {% if storySplit[(adPos['position'] * 2) - 1] %}
            {% if adPos['slot'] is defined %}
                {% set inarticleslot = adPos['slot'] %}
                {% set ArticleContent = '<p>' %}
                {% for para in storySplit %}
                    {% set ArticleContent = ArticleContent ~ '<p>' ~ para %}
                    {% if loop.index == adPos['position'] %}
                        {% set ArticleContent = ArticleContent ~ '<div class="u-margin-top-30 u-margin-bottom-30 '~ adPos['class'] ~'"><div class="j-adslot" id="' ~ inarticleslot ~ '" data-adshape="banner"></div></div>' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            
        {% endif %}
    {% endif %}
    
{% endif %} #}


{% set cropped = true %}
{% if article.additionalInfo is defined and article.additionalInfo.image_crop is defined and article.additionalInfo.image_crop == 'full' %}
    {% set cropped = false %}
{% endif %}





{% set recentArticles = _Article.getRecentArticles({ limit: 3, scope: 'network', excludeArticleIds : [article.id] }) %}
{% set popularArticles = _Article.getPopularArticles({ limit: 3, sortBy: 'VIEWS', scope: 'network', excludeArticleIds : [article.id] }) %}



{% set watermark = false %}
{% if config['watermark']['settings'] is defined and config['watermark']['sections'][articleBlog|lower] is defined %}
    {% set watermark = config['watermark']['settings'] %}
{% endif %}




{% set articleImg = false %}
{% set featured = false %}
{% if article.media|length > 0 %}
    {% set articleImg = true %}
    {% set featured = article.media[0].type %}
{% endif %}



{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}


{% set updated = false %}
{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}
    {% set updated = true %}
{% endif %}



{# {{_AppHelper.printArray(article)}} #}

<main id="main" class="o-body-container o-body-container-md u-mobile-margin-top-35 u-margin-top-60" role="main" {# data-paywall-type="{{paywallType}}" #}>
    <div class="container">
        {% if articleImg %}
            <div class="row">
                <div class="col-12">
                    

                        <div class="gallery-container relative u-margin-bottom-40 u-desktop-margin-bottom-50">
                            {% set galleryStyle = 'article' %}
                            {% if article.media|length > 1 or not cropped %}
                                {% set galleryStyle = 'gallery' %}
                            {% endif %}

                            {% if article.media|length > 0 %}
                                {% set imageFeature = featured == 'image' ? true : false %}
                                {{this.render('partials/gallery.twig', {
                                    media: article.media,
                                    default: imageFeature,
                                    watermark: watermark,
                                    galleryStyle: galleryStyle,
                                    showPaywall: showPaywall
                                }) | raw}}
                            {% endif %}

                        </div> 

                    
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8 j-article-container">

                <div class="c-article c-article-sm" >

                    
                    {# {% if showPaywall == true %}
                        {% set imageMargin = 'u-tablet-margin-top-60 u-mobile-margin-top-100 u-desktop-margin-top-80' %}
                    {% else %}
                        {% set imageMargin = 'u-tablet-margin-top-30 u-desktop-margin-top-80' %}
                    {% endif %} #}

                    <div class="c-article__main {# {{imageMargin}} #}">
                        <div class="c-article__head">
                            
                            <a href="{{articleBlogInfo.url}}"><div class="c-article__category">
                                {{article.label}}
                            </div></a>
                            <div class="c-article__title">
                                {{ quotes.smarten(article.title) }}
                            </div>

                            {% if _User.isAdminUser() %}
                                    <a href="{{article.editUrl}}" target="_blank" class="c-article__edit-link">Edit article</a>
                            {% endif %}

                            <div class="c-article__posted-on">
                                <time class="c-article__published">{{article.publishedDate}}</time>
                                {% if updated %}
                                    <time class="c-article__updated">Updated {{ updateDate | capitalize }}</time>
                                {% endif %}

                            </div>


                            
                            <div class="c-article__posted-by ">
                                <div class="row">
                                    <div class="c-article__author col-12 col-md">
                                        <div class="c-article__avatar" style="background-image: url({{ profileImg }});"></div>
                                        {% if config['hide-author'] is defined and config['hide-author'] %}
                                            <p class="c-article__author-name">{{ article.createdBy['displayName'] }}</p>
                                        {% else %}
                                            <a class="c-article__author-name" href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">{{ article.createdBy['displayName'] }}</a>
                                        {% endif %}

                                       
                                    </div>

                                    {% if article['createdBy']['coauthors'] %}
                                        {% for author in article['createdBy']['coauthors'] %}
                                            <div class="c-article__author col-12 col-md">
                                                <div class="c-article__avatar" style="background-image: url({{ _Media.getMediaUrl(author['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) }});"></div>
                                                {% if config['hide-author'] is defined and config['hide-author'] %}
                                                    <p class="c-article__author-name" >{{ author['displayName'] }}</p>
                                                {% else %}
                                                    <a class="c-article__author-name" href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">{{ author['displayName'] }}</a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                 <div class="c-article__social">
                                    <a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" class="c-article__social__icon c-article__social__icon--email">
                                        {{ this.render('partials/icons.twig', {icon: 'email'} ) | raw }}
                                    </a>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}" class="c-article__social__icon c-article__social__icon--facebook">
                                        {{ this.render('partials/icons.twig', {icon: 'facebook'} ) | raw }}
                                    </a>
                                    <a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}" class="c-article__social__icon c-article__social__icon--twitter">
                                        {{ this.render('partials/icons.twig', {icon: 'twitter'} ) | raw }}
                                    </a>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{article.url}}&title={{article.title|url_encode}}" class="c-article__social__icon c-article__social__icon--linkedin">
                                        {{ this.render('partials/icons.twig', {icon: 'linkedin'} ) | raw }}
                                    </a>
                                </div>
                            </div>
                            


                        </div>

                        <div class="c-article__container c-article__container-sm">
                                {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                        </div>



                        {# {% if showPaywall == true %}
                            {{this.render('partials/article/paywall_article_notice.twig', {networkData:networkData, paywallType:paywallType}) | raw}}
                        {% endif %} #}

                    </div>

                    {# {% if showPaywall == false %}
                        <!-- Disqus Comment Added -->
                        {% if networkData.thirdPartyIntegrations['disqus'] | length > 0 and networkData.thirdPartyIntegrations['disqus']['shortName'] != '' %}
                            {{this.render("partials/article/_disqus_comments.twig", {disqus: networkData.thirdPartyIntegrations['disqus'], userId: article.createdBy['id'], url:article.url, articleId: article.id}) | raw}}
                        {% endif %}
                    {% endif %} #}


                </div>
                <!-- End Article Page -->
            </div>
            <div class="col-12 offset-lg-1 col-lg-3 d-none d-lg-block">
                
                <div class="o-body-container__right-layout {# j-article-sidebar #}">
                    <div class="row">
                        <div class="col-12">
                            {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                                <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
                            {% endif %}
                        </div>
                        <div class="col-12 u-margin-top-30">
                            <div class="c-news-feed__title c-news-feed__title--before">Top Stories</div>
                        </div>
                        
                        {% for i in 0..2 if popularArticles[i] %}
                            <div class="col-sm-12">
                                {{this.render('partials/_single-article.twig', {
                                    article: popularArticles[i], 
                                    containerClass: "card-9-mobile card-9-tablet card-9-desktop"
                                }) | raw}}
                                
                            </div>
                        {% endfor %}
                            
                    </div>
                </div>
            </div>

            <div class="col-12 d-none d-md-block">
                {% if config['inventory']['adSpace']['banner'][2] is defined %}
                    <div class="j-adslot advertisment__footer" id="{{config['inventory']['adSpace']['banner'][2]}}" data-adshape="banner"></div>
                {% endif %}
            </div>
             <div class="col-12 d-md-none">
                {% if config['inventory']['adSpace']['mrec'][0] is defined %}
                    <div class="j-adslot" id="{{config['inventory']['adSpace']['mrec'][0]}}" data-adshape="mrec"></div>
                {% endif %}
            </div>

        </div>
       
        <div class="row c-related-articles u-mobile-margin-top-40 u-tablet-margin-top-60 u-desktop-margin-top-100">
            <div class="col-12">
                <div class="c-page-head c-page-head-xs">
                    <div class="u-heading__large u-heading__large-xs u-pr--6">latest stories</div>
                    {# <a href="{{link}}" class="c-page-head__link">View all</a> #}
                </div>
            </div>
            
            <div class="col-12 u-margin-top-30">
                <div class="row justify-content-center justify-content-md-between">
                    {% for i in 0..2 if recentArticles[i] %}
                        <div class="col-8 col-md-4">
                            {{this.render('partials/_single-article.twig', {
                                article: recentArticles[i], 
                                imageSize: {width: 300, height: 300},
                                containerClass: 'card-4-mobile card-4-tablet card-4-desktop'
                            }) | raw}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row u-margin-top-40 u-tablet-margin-top-60 u-desktop-margin-top-80">
            <div class="col-12">
                <div class="c-page-head c-page-head-xs">
                    <div class="u-heading__large u-heading__large-xs u-pr--6">forthcoming events</div>
                    {# <a href="{{link}}" class="c-page-head__link">View all</a> #}
                </div>
            </div>
        </div>

        {% set date = date() %}
        {% set events = _Event.getEvents({"limit": 4, "onGoing": true}) %}
        {# {% set events = _Event.getEvents({"limit": 4}) %} #}


        <div class="row">
            
            {% set borderclass = ['',' u-desktop-border-right u-tablet-border-right u-tablet-padding-bottom-30 order-1',' u-desktop-border-right u-tablet-border-right order-2 order-md-3 order-lg-2',' u-tablet-padding-bottom-30 order-3 order-md-2 order-lg-3',' d-lg-none order-4'] %}
            {% for event in events %}
                <div class="col-12 col-md-6 col-lg-4 u-mobile-margin-bottom-30{{borderclass[loop.index]}}">
                    {{this.render('partials/_single-event.twig', {
                        event: event, 
                        imageSize: {width: 600, height: 600},
                        containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                    }) | raw}}
                    {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                </div>
            {% endfor %}
            
        </div>
        




    </div>
    {% set theKeywords = '' %}
    {% if article.keywords is defined and article.keywords != '' %}
        {% set theKeywords = article.keywords %}
    {% elseif blogInfo.keywords is defined and blogInfo.keywords != '' %}
        {% set theKeywords = blogInfo.keywords %}
    {% endif %}
    <div class="j-keyword-cont" data-keywords="{{theKeywords}}"></div>
</main>

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        Acme.articleController = Acme.ArticleController();
    });
</script>
