{% import "partials/quotes.twig" as quotes %}

{{ set(this, 'title', event.title) }}
{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}
{% set config       = _Network.getThemeConfig() %}



{# {{this.registerJsFile("https://maps.googleapis.com/maps/api/js?key=AIzaSyCRILYoQMiSjf_1Q_DhL199ha5w410AOLU")}} #}


{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}


{% set eventImage = false %}
{% if event.media | length > 0 %}
    {% set eventImage = _Media.getMediaUrl(event.media[0], 750, 420, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}

{% set startDate = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'j F Y') %}
{% set endDate = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'j F Y') %}

{% set startTime = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'g:ia') %}
{% set endTime = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'g:ia') %}

{% set date = date() %}
{% set events = _Event.getEvents({"limit": 4, "start_date": date.date | split(" ")[0]}) %}


<div class="o-body-container o-body-container-md u-margin-top-60 u-mobile-margin-top-35">

    <div class="container"> 
        <div class="row">
            <div class="col-12">
                <div class="c-eventdetail">
                    <div class="row u-margin-bottom-60 u-tablet-margin-bottom-40">
                        {% if eventImage %} 
                            <div class="col-12 col-lg-8">
                        
                                <div class="c-eventdetail__media">
                                    <figure class="c-eventdetail__figure"> 
                                        <img src="{{eventImage}}" class="img-fluid" alt="Article Info">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 u-desktop-border-left">
                                <div class="c-eventdetail__head c-eventdetail__head--image u-mobile-border-left u-tablet-padding-left-30 u-tablet-border-left">
                                    <div class="c-eventdetail__category d-md-none d-lg-block u-tablet-margin-top-30 u-desktop-margin-top-60">
                                        EVENTS
                                    </div>
                                    <div class="c-eventdetail__title">
                                        {{ quotes.smarten(event.title) }}  
                                    </div>
                                    <div class="c-eventdetail__excerpt">
                                        {{ quotes.smarten(event.excerpt | raw) }}
                                    </div>
                                </div>
                                
                             </div>
                        {% else %}
                            <div class="col-12">
                                <div class="c-eventdetail__head">
                                    <div class="c-eventdetail__category">
                                        EVENTS
                                    </div>
                                    <div class="c-eventdetail__title">
                                        {{ quotes.smarten(event.title) }}  
                                    </div>
                                </div>
                                
                            </div>
                        {% endif %}
                    
                    </div>
                    
                    <div class="c-eventdetail__container">
                        <div class="row">

                            <div class="col-12 order-1 order-lg-2">
                                <hr class="o-rule d-none d-md-block d-lg-none">
                                <div class="c-eventdetail__info">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="c-eventdetail__info-item">
                                                <span class="c-eventdetail__info-head">When</span>
                                                <span class="c-eventdetail__info-text">{{ startDate }}</span>
                                                <span class="c-eventdetail__info-text">{{ startTime }}{% if event.endDate != "" %} - {{endTime}}{% endif %}</span>
                                            </div>
                                            <hr class="o-rule d-block d-md-none">
                                        </div>
                                        <div class="col-12 col-md-4 u-desktop-border-left u-tablet-border-left">
                                            <div class="c-eventdetail__info-item">
                                                <span class="c-eventdetail__info-head">Where</span>
                                                {# <span class="c-eventdetail__info-text">{{ event.address.address1 }},<br/>
                                                {{ event.address.suburb }}, {{ event.address.state }}</span> #}
                                                <span class="c-eventdetail__info-text">{{ event.venue }}</span>
                                            </div>
                                            <hr class="o-rule d-block d-md-none">
                                        </div>

                                        {% set contactDetails = "" %}

                                        {% if event.contactNumber != "" %}
                                            {% set contactDetails = event.contactNumber %}
                                        {% endif %}

                                        {% if event.contactEmail != "" %}
                                            {% if contactDetails != "" %}
                                                {% set contactDetails = contactDetails ~ ", " ~ event.contactEmail %}
                                            {% else %}
                                                {% set contactDetails = event.contactEmail %}
                                            {% endif %}
                                        {% endif %}


                                        {% if contactDetails != "" %}
                                            <div class="col-12 col-md-4 u-desktop-border-left u-tablet-border-left">
                                                <div class="c-eventdetail__info-item">
                                                    <span class="c-eventdetail__info-head">Contact</span>
                                                    
                                                    <span class="c-eventdetail__info-text" >Contact {{event.contactName}} on <br />{{contactDetails}}</span>
                                                </div>
                                                <hr class="o-rule d-block d-md-none">
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                                <hr class="o-rule d-none d-md-block d-lg-none">
                            </div>

                            <div class="col-12 order-2 order-lg-1">
                                <div class="row">
                                    <div class="col-12 col-lg-8 u-desktop-border-right">
                                        <div class="c-eventdetail__content u-mobile-margin-top-20 u-tablet-margin-top-40">
                                            {{ event.content | raw }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                         {% if config['inventory']['adSpace']['mrec'][0] is defined %}
                                            <div class="j-adslot" id="{{config['inventory']['adSpace']['mrec'][0]}}" data-adshape="mrec"></div>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr class="o-rule">
                            </div>



                            {% if event.latitude and event.longitude %}
                                <div class="col-12 order-3">
                                    <hr class="o-rule d-none d-md-block">
                                    <div class="event-map u-margin-top-60">
                                        <div id="addressMap" data-latitude="{{event.latitude}}" data-longitude="{{event.longitude}}" style="width:100%;min-height:500px;background:rgba(0,0,0,.3)"></div>
                                    </div>
                                </div>
                            {% endif %}





                        </div>
                    </div>
                </div>  
            </div> 


            <div class="col-12 u-margin-top-60">
                {# {% set events = _Event.getEvents({"limit": 6}) %} #}
                {% set events = _Event.getEvents({"limit": 6, "start_date": date.date | split(" ")[0]}) %}

                <div class="c-page-head c-page-head-xs">
                    <div class="u-heading__large u-heading__large-xs u-pr--6">Forthcoming Events</div>
                </div>
                    
                <div class="row">
            
                    {% set borderclass = [
                        '',
                        ' u-tablet-border-right u-tablet-padding-bottom-30 u-desktop-border-right u-desktop-padding-bottom-30 order-1',
                        ' u-tablet-border-right u-tablet-padding-bottom-30 u-desktop-border-right order-2 order-md-3 order-lg-4',
                        ' u-tablet-border-right u-desktop-border-right u-desktop-padding-bottom-30 order-3 order-md-5 order-lg-2',
                        ' u-tablet-padding-bottom-30 u-desktop-border-right order-4 order-md-2 order-lg-5',
                        ' u-tablet-padding-bottom-30 u-desktop-padding-bottom-30 order-5 order-md-4 order-lg-3',
                        ' order-6'
                        ] %}
                    {% for event in events %}
                        <div class="col-12 col-md-6 col-lg-4 u-mobile-margin-bottom-30{{borderclass[loop.index]}}">
                            {{this.render('partials/_single-event.twig', {
                                event: event, 
                                imageSize: {width: 600, height: 600},
                                containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                            }) | raw}}
                            {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                        </div>
                    {% endfor %}
                    
                </div>

            </div>


        
            
        </div>
    </div>

    {% set theKeywords = '' %}
    {% if event.keywords is defined and event.keywords != '' %}
        {% set theKeywords = event.keywords %}
    {% endif %}
    <div class="j-keyword-cont" data-keywords="{{theKeywords}}"></div>



</div>




{% if event.latitude and event.longitude %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRILYoQMiSjf_1Q_DhL199ha5w410AOLU" type="text/javascript"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Acme.eventMap = new Acme.GoogleMap();
        });
    </script>
{% endif %}







                    {# <div class="col-md-12">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{event.url}}&title={{ event.title|url_encode }}" class="share-icon facebook-icon"></a
                        ><a href="https://twitter.com/share?text={{ event.title|url_encode }}&url={{event.url}}" class="share-icon twitter-icon"></a
                        ><a href="mailto:?subject=Check%20out%20this%20article&body={{event.url}}" class="share-icon email-icon"></a>
                    </div> #}
            
                            {# show start date OR start and end data if different #}
                            {# {% set difference = date(event.endDate).diff(date(event.startDate)) %}
                            {% set leftDays = difference.days %}
                            {% if leftDays > 0 %}
                                <p class="date">{{ startDate }} - {{ endDate }}</p>
                            {% else %}
                                <p class="date">{{ startDate }}</p>
                                <p class="time">{{ startTime }} - {{ endTime }} </p>
                            {% endif %} #}





