{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set networkData = _Network.getNetworkData() %}
{% set config       = _Network.getThemeConfig() %}
{% set blogInfo = _Blog.getBlog() %}
{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}
{% set articleBlog = article.blog.title | lower %}
{% set publishDate = _AppHelper.getDateTimeBasedOnTimezone(article.publishDate, 'F, Y') %}

{# {% set showPaywall = false %}
{% if   not _User.isAdminUser()     and
        article.showPaywall == true  %}
    

{% endif %} #}
{% set ArticleContent = article.content %}
{% set watermark = false %}
{% if config['watermark']['settings'] is defined and config['watermark']['sections'][articleBlog|lower] is defined %}
    {% set watermark = config['watermark']['settings'] %}
{% endif %}

{% set watermark = false %}
{% if config['watermark']['settings'] is defined and config['watermark']['sections'][articleBlog|lower] is defined %}
    {% set watermark = config['watermark']['settings'] %}
{% endif %}


<main id="main" class="article-gallery u-margin-top-60 u-margin-bottom-100 u-mobile-margin-top-35" role="main">

    <div class="container u-margin-top-30">
        <div class="row">
            <div class="col-12 col-md-9">

                <div class="row">
                    <div class="col-12">

                        {{this.render('partials/gallery.twig', {
                            media: article.media,
                            type: 'article',
                            default: true,
                            galleryStyle: 'gallery',
                            watermark: watermark,
                            showPaywall: showPaywall
                        }) | raw}}
                    </div>
                    <div class="col-12">
                        <a href="{{blogInfo.url}}"><p class="article-gallery__category">{{article.label}}</p></a>
                        <h1 class="article-gallery__title">{{ quotes.smarten(article.title) }}</h1>
                        <time class="article-gallery__date" datetime="{{publishedDate}}">{{article.publishedDate}}</time>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div class="c-article__container c-article__container-sm u-margin-top-40">
                                {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                        </div>



                        {# {% if showPaywall == true %}
                            {{this.render('partials/article/paywall_article_notice.twig', {networkData:networkData}) | raw}}
                        {% endif %} #}

                    </div>
                </div>
            </div>

            <div class="d-none d-md-block col-md-3">

            
                <div id="owl-thumbs" class="owl-thumbs article-gallery__thumbs" data-slider-id="1">
                    {% for image in article.media %}
                        {% set articleImg = _Media.getMediaUrl(image,152, 95, {'crop': 'fill', 'gravity':'faces'} ) %}
                        <img id="owl-{{loop.index}}" src="{{articleImg}}" class="owl-thumb-item">
                    {% endfor %}
                </div>
            

            </div>
        
        </div>

         <div class="row u-margin-top-40 u-desktop-margin-top-80">
            <div class="col-12">
                <div class="c-page-head c-page-head-xs">
                    <div class="u-heading__large u-heading__large-xs u-pr--6">forthcoming events</div>
                    {# <a href="{{link}}" class="c-page-head__link">View all</a> #}
                </div>
            </div>
        </div>

        {% set date = date() %}
        {% set events = _Event.getEvents({"limit": 3, "start_date": date.date | split(" ")[0]}) %}
        {# {% set events = _Event.getEvents({"limit": 3}) %} #}


        <div class="row">
            
            {% set borderclass = [' u-border-right',' u-border-right',''] %}
            {% for i in 0..2 if events[i] %}
                <div class="col-12 col-md-4{{borderclass[i]}}">
                    {{this.render('partials/_single-event.twig', {
                        event: events[i], 
                        imageSize: {width: 600, height: 600},
                        containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                    }) | raw}}
                    {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                </div>
            {% endfor %}
            
        </div>

        
    </div>

    {% set theKeywords = '' %}
    {% if article.keywords is defined and article.keywords != '' %}
        {% set theKeywords = article.keywords %}
    {% elseif blogInfo.keywords is defined and blogInfo.keywords != '' %}
        {% set theKeywords = blogInfo.keywords %}
    {% endif %}
    <div class="j-keyword-cont" data-keywords="{{theKeywords}}"></div>
</main>



