{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogInfo = _Blog.getBlog() %}


{% set limit = 50 %}
{% set date = date() %}
{# {% set events = _Event.getEvents({"limit": limit, "start_date": date.date | split(" ")[0]}) %} #}
{% set events = _Event.getEvents({"limit": limit}) %}
{% set config       = _Network.getThemeConfig() %}


{% set firstCount = events | length %}




<!-- used to index each article as we loop over throughout the template -->
{% set eventCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}
{% set marginSettings = [' u-desktop-margin-bottom-40 u-tablet-margin-bottom-40',''] %}
                            

    <main id="main" class="site-main" role="main">
        <div class="container u-margin-top-60 u-margin-bottom-60">
            <div class="row">
                <div class="col-12">
                    <div class="c-page-head c-page-head-xs">
                        <div class="u-heading__large u-heading__large-xs u-pr--6">{{this.title}}</div>
                    </div>
                </div>
                

            </div>

            
            
                <div class="row">
                    <div class="col-12">
                        {% if events[eventCount] %}
                            {{this.render('partials/_single-event.twig', {
                                event: events[eventCount], 
                                position: eventCount + 1, 
                                imageSize: {width:1800},
                                containerClass: 'event-card-2__desktop event-card-2__tablet event-card-2__mobile',
                            }) | raw}}
                            {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                        {% endif %}
                        <hr class="o-rule">
                    </div>

                    <div class="col-12 col-md-6 u-desktop-border-right u-tablet-border-right">
                        <div class="row justify-content-center">
                            {% for i in 0..1 if events[eventCount] %}
                                <div class="col-9 col-md-12{{marginSettings[i]}}">
                                    {{this.render('partials/_single-event.twig', {
                                        event: events[eventCount], 
                                        position: eventCount + 1, 
                                        imageSize: {width:400},
                                        containerClass: 'event-card-3__desktop event-card-3__tablet event-card-3__mobile',
                                    }) | raw}}
                                    {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                                    
                                </div>
                                <div class="col-12 d-block d-md-none">
                                    <hr class="o-rule">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="row justify-content-center">
                            {% for i in 0..1 if events[eventCount] %}
                                <div class="col-9 col-md-12{{marginSettings[i]}}">
                                    {{this.render('partials/_single-event.twig', {
                                        event: events[eventCount], 
                                        position: eventCount + 1, 
                                        imageSize: {width:400},
                                        containerClass: 'event-card-3__desktop event-card-3__tablet event-card-3__mobile',
                                    }) | raw}}
                                    {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                                </div>
                                <div class="col-12 d-block d-md-none">
                                    <hr class="o-rule">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>


                <div class="row justify-content-center">
                    <div class="col-12">
                        <hr class="o-rule d-none d-md-block">
                    </div>
                    {% for i in 0..1 if events[eventCount] %}
                        <div class="col-9 col-md-4 u-tablet-border-right u-desktop-border-right">
                            {{this.render('partials/_single-event.twig', {
                                event: events[eventCount], 
                                position: eventCount + 1, 
                                imageSize: {width:400},
                                containerClass: 'event-card-4__desktop event-card-4__tablet event-card-4__mobile',
                            }) | raw}}
                            {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                            
                        </div>
                        <div class="col-12 d-block d-md-none">
                            <hr class="o-rule">
                        </div>
                    {% endfor %}
                    <div class="col-12 col-md-4">
                        {% if config['inventory']['adSpace']['mrec'][0] is defined %}
                            <div class="j-adslot" id="{{config['inventory']['adSpace']['mrec'][0]}}" data-adshape="mrec"></div>
                        {% endif %}
                    </div>
                </div>  

                <div class="row justify-content-center">
                    <div class="col-12">
                        {% if events[eventCount] %}
                            {{this.render('partials/_single-event.twig', {
                                event: events[eventCount], 
                                position: eventCount + 1, 
                                imageSize: {width:1800},
                                containerClass: 'event-card-2__desktop event-card-2__tablet event-card-2__mobile',
                            }) | raw}}
                            {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                        {% endif %}
                        <hr class="o-rule">
                    </div>

                    <div class="col-12 col-md-6 u-desktop-border-right u-tablet-border-right">
                        <div class="row">
                            {% for i in 0..1 if events[eventCount] %}
                                <div class="col-9 col-md-12{{marginSettings[i]}}">
                                    {{this.render('partials/_single-event.twig', {
                                        event: events[eventCount], 
                                        position: eventCount + 1, 
                                        imageSize: {width:400},
                                        containerClass: 'event-card-3__desktop event-card-3__tablet event-card-3__mobile',
                                    }) | raw}}
                                    {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                                    
                                </div>
                                <div class="col-12 d-block d-md-none">
                                    <hr class="o-rule">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="row">
                            {% for i in 0..1 if events[eventCount] %}
                                <div class="col-9 col-md-12{{marginSettings[i]}}">
                                    {{this.render('partials/_single-event.twig', {
                                        event: events[eventCount], 
                                        position: eventCount + 1, 
                                        imageSize: {width:400},
                                        containerClass: 'event-card-3__desktop event-card-3__tablet event-card-3__mobile',
                                    }) | raw}}
                                    {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                                    
                                </div>
                                <div class="col-12 d-block d-md-none">
                                    <hr class="o-rule">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>  

                <div class="row justify-content-center">
                    {% for i in 0..39 if events[eventCount] %}
                        <div class="col-9 col-md-4 u-tablet-border-right u-desktop-border-right">
                            {{this.render('partials/_single-event.twig', {
                                event: events[eventCount], 
                                position: eventCount + 1, 
                                imageSize: {width:400},
                                containerClass: 'event-card-4__desktop event-card-4__tablet event-card-4__mobile',
                            }) | raw}}
                            {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                        </div>
                        <div class="col-12 d-block d-md-none">
                            <hr class="o-rule">
                        </div>
                    {% endfor %}
                    
                </div>  

        </div>
        <div class="j-keyword-cont" data-keywords="{{blogInfo.keywords}}"></div>
    </main><!-- .site-main -->



{# <script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function() {


        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore',
            infinite        : true,
            label           : false,
            limit           : 50,
            offset          : 50,
            name            : 'section-load', //name of the search button
            card_class      : 'col-12 col-md-3 card-7-mobile card-3-tablet card-1-desktop card-3-desktop-lg',
            non_pinned      : {{eventCount}}

        });

    });
</script>
 #}
