{{ set(this, 'title', 'User Profile') }}

{% set networkData = _Network.getNetworkData() %}
{% set limit = 10 %}
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set firstCount = userArticles | length %}



{% set profileImage =_Media.getMediaUrl( user.media, 500, 500, {crop: 'thumb', gravity: 'face', type:'user'} ) %}

<main class="o-body-container o-body-container-md u-margin-top-60">

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-10 offset-md-1">
                <div class="c-author">
                    <div class="c-author-left">  

                        <div class="c-author__avatar c-author__avatar-xs u-image-covered" style="background-repeat:none;background-image:url({{profileImage}});">&nbsp;</div>
                        
                        <div class="c-author__details c-author__details-xs">
                            <h3 class="c-author__name c-author__name-xs c-author__name-md">{{Html.encode(user.firstname)}} <br> {{Html.encode(user.lastname)}}</h3>
                            {# <ul class="c-author__social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul> #}
                            <p class="c-author__text c-author__text-md">{{Html.decode(user.bio) | raw}}</p>
                        </div>

                    </div>


                    {# <div class="c-author-right c-author-right-md">
                        
                    </div> #}
                </div>
                <hr class="o-rule">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div id="loadmore_section" class="row">
                        
                    {% for i in 0..3 if userArticles[articleCount] %}
                        
                        {{this.render('partials/_single-article.twig', {
                            article: userArticles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 720, height: 720},
                            containerClass: "card-8-mobile card-8-tablet card-8-desktop col-12 col-md-6 u-loadmore-card-2s"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        
                    {% endfor %}

                </div>
            </div>
        </div>
        {# {{dump(userArticles|length)}} #}


        <div class="row">
            <div class="col-md-8">
                {% if userArticles|length >= limit %}
                    <section class="">
                        <div class="row">
                            <div class="col-12">
                                {{ this.render('partials/ajaxarticles_new.twig', {
                                    name            : "user-load",
                                    label           : "SEE MORE",
                                    buttonClass     : "c-button c-button--blue-bordered u-margin-bottom-40",
                                }) | raw }}
                            </div>
                        </div>
                    </section>
                {% endif %}

            </div>
        </div>
    </div>
</main>

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {

        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            container       : 'loadmore_section',
            offset          : 4,
            limit           : {{limit}},
            loadtype        : 'user_articles',
            name            : 'user-load',
            card_class      : 'card-8-mobile card-8-tablet card-8-desktop col-12 col-md-6 u-loadmore-card-2s',
        });

    });
</script>
