{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="04">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            {# <a href="{{link}}" class="c-page-head__link">View all</a> #}
        </div>
    </div>
</div>

{% set date = date() %}
{# {% set events = _Event.getEvents({"limit": 9, "start_date": date.date | split(" ")[0]}) %} #}
{% set events = _Event.getEvents({"limit": 9}) %}


    <div class="row">
        <div class="col-12 col-md-4 u-border-right">
            <div class="row">
                {% for i in 0..2 if events[i] %}
                    <div class="col-12{% if i < 2 %} u-margin-bottom-60{% endif %}">
                        {{this.render('../_single-event.twig', {
                            event: events[i], 
                            containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                        }) | raw}}
                        {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-4 u-border-right">
            <div class="row">
                {% for i in 3..5 if events[i] %}
                    <div class="col-12{% if i < 5 %} u-margin-bottom-60{% endif %}">
                        {{this.render('../_single-event.twig', {
                            event: events[i], 
                            containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                        }) | raw}}
                        {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                {% for i in 6..8 if events[i] %}
                    <div class="col-12{% if i < 8 %} u-margin-bottom-60{% endif %}">
                        {{this.render('../_single-event.twig', {
                            event: events[i], 
                            containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                        }) | raw}}
                        {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- row -->