{% set articleCount = 0 %}
{% set eventCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="01">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
             <a href="{{link}}" ><div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div></a>
            {# <a href="{{link}}" class="c-page-head__link">View all</a> #}
        </div>
    </div>


    <div class="col-12 col-md-8 u-tablet-border-right u-desktop-border-right">
        <div class="row justify-content-center">
            <div class="col-12 u-tablet-margin-bottom-30">
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 1200, height: 1200},
                    containerClass: "card-3-mobile card-5-tablet card-5-desktop"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                <hr class="o-rule d-md-none">
            </div>
            <div class="col-8 col-md-12 u-desktop-margin-top-40">
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 640, height: 480},
                    containerClass: "card-4-mobile card-6-tablet card-6-desktop"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            </div>
        </div>
        <hr class="o-rule d-md-none">
    </div>
    
    <div class="col-12 col-md-4">
        <div class="row">
            {% for i in 0..1 if articles[articleCount] %}
                <div class="col-8 offset-2 col-md-12 offset-md-0 col-lg-10 offset-lg-1">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 600, height: 600},
                        containerClass: "card-4-mobile card-4-tablet card-4-desktop" ~ indexClass[i]
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                {% if i == 0 %}<div class="col-12"><hr class="o-rule"></div>{% endif %} 
            {% endfor %}  
        </div>
        
    </div>

</div> <!-- row -->

{{this.render('../_signup-body.twig')|raw}}


