{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{# {% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', scope: 'network' }) %} #}

<div class="row" data-section="10">
    
    
    <div class="col-12 col-lg-9">


        <div class="row">

            <div class="col-12 col-md-8 order-1 order-md-2">
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 1156, height: 560},
                    containerClass: "card-4-mobile card-10-tablet card-10-desktop card-10-desktop-lg"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            </div>
            <div class="col-12 col-md-4 order-2 order-md-1">
                {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 550, height: 468},
                        containerClass: "card-4-mobile card-4-tablet card-2-desktop card-2-desktop-lg"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            </div>
        </div>

        <div class="row">
        
            {% for i in 0..2 if articles[articleCount] %}
                <div class="col-12 col-md-4">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 550, height: 468},
                        containerClass: "card-4-mobile card-4-tablet card-2-desktop card-2-desktop-lg"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>
    </div>



    <div class="col-12 col-lg-3">
        <div class="row">

                {% for i in 0..4 if articles[articleCount] %}
                    {% set tabletGrid = ["col-md-6", "col-md-6", "col-md-4", "col-md-4", "col-md-4"] %}
                    {% set tabletClass = ["card-11-tablet", "card-11-tablet", "card-4-tablet", "card-4-tablet", "card-4-tablet"] %}
                    {% set tabletMargin = [
                        "u-tablet-margin-bottom-40 u-desktop-margin-bottom-20", 
                        "u-tablet-margin-bottom-40 u-desktop-margin-bottom-20", 
                        "u-margin-bottom-20", 
                        "u-margin-bottom-20", 
                        "u-margin-bottom-20"
                    ] %}
                    
                    <div class="col-12 {{tabletGrid[i]}} col-lg-12">
                        {{this.render('../_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 550, height: 468},
                            containerClass: "card-5-mobile "~ tabletClass[i] ~" card-11-desktop card-11-desktop-lg " ~ tabletMargin[i]
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endfor %}

                {% if adslots[0] is defined %}
                    <div class="col-12">
                        <div class="j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
