{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="04">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <a href="{{networkData.defaultBlogUrl}}/events" ><div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div></a>
            {# <a href="{{link}}" class="c-page-head__link">View all</a> #}
        </div>
    </div>
</div>

{% set date = date() %}
{% set events = _Event.getEvents({"limit": 9, "onGoing": true}) %}
{# {% set events = _Event.getEvents({"limit": 9}) %} #}


    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 u-border-right">
            <div class="row">
                {% for i in 0..2 if events[i] %}
                    <div class="col-12{% if i < 2 %} u-tablet-margin-bottom-30 u-desktop-margin-bottom-60{% endif %} u-mobile-margin-bottom-30">
                        {{this.render('../_single-event.twig', {
                            event: events[i], 
                            imageSize: {width: 260, height: 230},
                            containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                        }) | raw}}
                        {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 u-desktop-border-right">
            <div class="row">
                {% for i in 3..5 if events[i] %}
                    <div class="col-12{% if i < 5 %} u-tablet-margin-bottom-30 u-desktop-margin-bottom-60{% endif %} u-mobile-margin-bottom-30">
                        {{this.render('../_single-event.twig', {
                            event: events[i], 
                            imageSize: {width: 260, height: 230}, 
                            containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                        }) | raw}}
                        {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                        
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-none d-lg-block">
            <div class="row">
                {% for i in 6..8 if events[i] %}
                    <div class="col-12{% if i < 8 %} u-margin-bottom-60{% endif %}">
                        {{this.render('../_single-event.twig', {
                            event: events[i], 
                            imageSize: {width: 260, height: 230}, 
                            containerClass: "event-card-1__mobile event-card-1__tablet event-card-1__desktop"
                        }) | raw}}
                        {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- row -->