{% set link = _Blog.getHomeBlogSettings() %}
{% set logo = networkData.templatePath~'/static/images/40logo.svg'%}
{% set connectMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'connect-menu'}) %}
{% set policiesMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'policies-menu'}) %}
{% set sponsorMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'sponsor-menu'}) %}
{% set shopMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'shop-menu'}) %}

<footer class="c-footer">
    <div class="container"> 
        <div class="c-footer__bottom u-margin-bottom-20">
            <div class="c-footer__bottom__message">We pay our respects to the Tasmanian Aboriginal people as the traditional and original owners and continuing custodians of <i>lutruwita</i>, and acknowledge elders past and present.</div>
            
        </div>
        <div class="row">
            <div class="col-12">

                <div class="c-footer__container">
                    <div class="row">
                        <div class="col-12 col-lg-4 u-margin-top-40">
                            <a href="{{networkData.defaultBlogUrl}}" class="c-footer__logo">
                                <img src="{{logo}}" class="image-fluid"/>
                            </a>

                            <div class="c-footer__social">
                                <a href="https://www.facebook.com/fortysouthtas/" target="_blank" class="c-footer__social__icon c-footer__social__icon--facebook">
                                    {{ this.render('../../../partials/icons.twig', {icon: 'facebook'} ) | raw }}
                                </a>
                                <a href="https://twitter.com/fortysouth" target="_blank" class="c-footer__social__icon c-footer__social__icon--twitter">
                                    {{ this.render('../../../partials/icons.twig', {icon: 'twitter'} ) | raw }}
                                </a>
                                <a href="https://www.instagram.com/fortysouthtas/" target="_blank" class="c-footer__social__icon c-footer__social__icon--instagram">
                                    {{ this.render('../../../partials/icons.twig', {icon: 'insta'} ) | raw }}
                                </a>
                                <a href="https://www.linkedin.com/in/lucinda-sharp-95a92a30" target="_blank" class="c-footer__social__icon c-footer__social__icon--linkedin">
                                    {{ this.render('../../../partials/icons.twig', {icon: 'linkedin'} ) | raw }}
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-12 col-xl-7 u-margin-top-40">
                            <div class="row justify-content-end">

                                <div class="col-12 col-md-3  u-tablet-margin-bottom-40 u-mobile-margin-top-20">
                                    <p class="c-footer__navigation__header u-margin-bottom-15">Shop</p>
                                    <div class="c-footer__navigation c-footer__navigation-sm">
                                        {{this.render('../_submenu_navigation.twig', {
                                                items: shopMenu,
                                                class: '',
                                            }) | raw}}
                                    </div>
                                </div>

                                <div class="col-12 col-md-3  u-tablet-margin-bottom-40 u-mobile-margin-top-20">
                                    <p class="c-footer__navigation__header u-margin-bottom-15">Connect</p>
                                    <div class="c-footer__navigation c-footer__navigation-sm">
                                        {{this.render('../_submenu_navigation.twig', {
                                                items: connectMenu,
                                                class: '',
                                            }) | raw}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-3  u-tablet-margin-bottom-40 u-mobile-margin-top-20">
                                    <p class="c-footer__navigation__header u-margin-bottom-15">Policies</p>
                                    <div class="c-footer__navigation c-footer__navigation-sm">
                                        {{this.render('../_submenu_navigation.twig', {
                                                items: policiesMenu,
                                                class: '',
                                            }) | raw}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-3  u-tablet-margin-bottom-40 u-mobile-margin-top-20">
                                    <p class="c-footer__navigation__header u-margin-bottom-15">Sponsorships</p>
                                    <div class="c-footer__navigation c-footer__navigation-sm">
                                        {{this.render('../_submenu_navigation.twig', {
                                                items: sponsorMenu,
                                                class: '',
                                            }) | raw}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                 
                <div class="c-footer__bottom u-margin-top-80 u-tablet-margin-top-40">
                    <div class="c-footer__bottom__copyright">&copy; Copyright {{networkData.title}} {{ "now"|date("Y") }}</div>
                    <a href="https://pagemasters.com.au" class="c-footer__bottom__powered">DESIGNED AND POWERED BY PAGEMASTERS</a>
                </div>
            </div>
        </div>
    </div>


    <div class="c-signup-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-3 u-mobile-margin-bottom-15">
                    <div class="c-signup-footer__title">Join our newsletter</div>
                    <div class="c-signup-footer__text d-none d-md-block d-lg-none u-tablet-margin-top-5">Our love letter <br class="d-md-none">– your newsletter – <br class="">on all things Tasmanian</div>
                </div>
                <div class="col-12 offset-lg-1 col-lg-4 d-md-none d-lg-block u-mobile-margin-bottom-15">
                    <div class="c-signup-footer__text">Our love letter <br class="d-md-none">– your newsletter – <br class="">on all things Tasmanian</div>
                </div>
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="c-button c-button--wide c-button--white c-signup-footer__button j-insider-signup">sign up</div>
                </div>
            </div>
        </div>
    </div>
</footer>
