{% set link = _Blog.getHomeBlogSettings() %}
{% set logo = networkData.templatePath~'/static/images/logo.svg'%}
{% set connectMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'connect-menu'}) %}
{% set policiesMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'policies-menu'}) %}
{% set sponsorMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'sponsor-menu'}) %}

<footer class="c-footer c-footer-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="c-footer__container">
                    <div class="row">
                        <div class="col-12 col-lg-4 u-margin-top-40">
                            <a href="{{networkData.defaultBlogUrl}}" class="c-footer__logo">
                                <img src="{{logo}}" class="image-fluid"/>
                            </a>

                            <div class="c-footer__social">
                                <a href="" class="c-footer__social__icon c-footer__social__icon--linkedin">
                                    {{ this.render('../../../partials/icons.twig', {icon: 'linkedin'} ) | raw }}
                                </a>
                                <a href="" class="c-footer__social__icon c-footer__social__icon--twitter">
                                    {{ this.render('../../../partials/icons.twig', {icon: 'twitter'} ) | raw }}
                                </a>
                                <a href="" class="c-footer__social__icon c-footer__social__icon--facebook">
                                    {{ this.render('../../../partials/icons.twig', {icon: 'facebook'} ) | raw }}
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-12 offset-lg-1 col-lg-7 u-margin-top-40">
                            <div class="row justify-content-end">

                                <div class="col-12 col-md-4  u-tablet-margin-bottom-40 u-mobile-margin-top-20">
                                    <p class="c-footer__navigation__header u-margin-bottom-15">Connect</p>
                                    <div class="c-footer__navigation c-footer__navigation-sm">
                                        {{this.render('../_submenu_navigation.twig', {
                                                items: connectMenu,
                                                class: '',
                                            }) | raw}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-4  u-tablet-margin-bottom-40 u-mobile-margin-top-20">
                                    <p class="c-footer__navigation__header u-margin-bottom-15">Policies</p>
                                    <div class="c-footer__navigation c-footer__navigation-sm">
                                        {{this.render('../_submenu_navigation.twig', {
                                                items: policiesMenu,
                                                class: '',
                                            }) | raw}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-4  u-tablet-margin-bottom-40 u-mobile-margin-top-20">
                                    <p class="c-footer__navigation__header u-margin-bottom-15">Sponsorships</p>
                                    <div class="c-footer__navigation c-footer__navigation-sm">
                                        {{this.render('../_submenu_navigation.twig', {
                                                items: sponsorMenu,
                                                class: '',
                                            }) | raw}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="c-footer__bottom u-margin-top-80 u-tablet-margin-top-40">
                    <div class="c-footer__bottom__copyright">&copy; Copyright {{networkData.title}} {{ "now"|date("Y") }}</div>
                    <a href="https://aapstudio.com.au" class="c-footer__bottom__powered">POWERED BY AAP STUDIO</a>
                </div>
            </div>
        </div>
    </div>

    {{ networkData['styling']['customFooter'] | raw }}

</footer>
