{% set headermenu = _Menu.get({'menuType': 'header', "menuGroupName":"header-main"}) %}
{% set miniMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-mini'}) %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}

{% set logo = networkData.templatePath~'/static/images/logo.svg'%}

{% set logoWidth = 650 %}
{% set logoHeight = 144 %}

{% if config['logo'] is defined %}
    {% if config['logo']['width'] is defined %}
        {% set logoWidth = config['logo']['width'] %}

        {% if config['logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['logo']['height'] is defined %}
        {% set logoHeight = config['logo']['height'] %}

        {% if config['logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}



{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, logoWidth, logoHeight, {'crop': 'fit'} ) %}
{% endif %}

{% set theDate = _AppHelper.getCurrentTimestampBasedOnTimezone() %}
{% set date = _AppHelper.getDefaultTimezoneDateTime(theDate, "l, j F Y") %}



{# ******************************************************
            WEATHER AND MINI MENU
****************************************************** #}
<div class="d-none d-md-block">
    <div class="container">
        <div class="c-header-1__mini-menu-container">
            <div id="" class="js-weather-container weather-panel-reverse c-header-1__weather-info c-header-1__weather-info-xs j-weather-panel" data-headertype="weatherPanel2"></div>

            <div class="c-header-1__mini-menu c-header-1__mini-menu--tablet">
                {{this.render('../_submenu_navigation.twig', {
                items: miniMenu,
                class: 'c-header-1-top-bar__link',
            }) | raw}}
            </div>
        </div>
    </div>
</div>


<header class="c-header-2{% if loggedin %} u-mobile-margin-bottom-60 {% endif %}"  data-header="2">

    <div class="container">
        <div class="row">
            <div class="col-12 c-header-2__container">
                

                

                {% if loggedin %}
                {# ******************************************************
                            LOGGED IN BUTTONS (text)
                ****************************************************** #}
                    <div class="c-header-2__login-info u-desktop-margin-top-30 u-tablet-margin-top-30">
                        <a class="c-header-2__login-text" href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="">My account</a>
                        <a href="{{_AppHelper.getLogoffUrl()}}" class="c-header-2__login-text">Log out</a>
                    </div>
                {% else %}

                {# ******************************************************
                            LOGGED OUT BUTTONS (buttons)
                ****************************************************** #}
                    <div class="c-header-2__row2  u-tablet-margin-top-20 u-desktop-margin-top-20">
                        <a id="signinBtn" href="javascript:;" class="c-button c-button--rounded c-button--blue-bordered u-margin-right-10 u-mobile-margin-right-50">Log in</a>
                        <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions" class="c-button c-button--rounded c-button--blue">Subscribe</a>
                    </div>
                 {% endif %}





                {# ******************************************************
                                LOGO AND MAIN NAV
                ****************************************************** #}
                <div class="c-header-2__main-info">
                    <a href="{{networkData.defaultBlogUrl}}" class="c-header-2__main-info__logo">
                        <img src="{{logo}}" class="image-fluid" />
                    </a>
                    <div class="c-navigation-2 c-navigation-2-md">
                        <ul class="c-navigation-2__list">
                            {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
                        </ul>
                        
                        <div class="c-navigation-2__icons">
                            <div class="c-navigation-2__icons__menu o-hamburger js-menu"></div>
                            <div class="c-navigation-2__icons__search js-searchButton">
                                <div class="js-searchButton__search">{{ this.render('../../../partials/icons.twig', {icon: 'search'} ) | raw }}</div>
                                <div class="js-searchButton__close d-none">{{ this.render('../../../partials/icons.twig', {icon: 'cross'} ) | raw }}</div>
                            </div>
                        </div>
                    </div>
                </div>



                {# ******************************************************
                                    FIXED HEADER
                ****************************************************** #}
                <div class="c-header-2__fixed c-header-2__fixed--off" id="j-menu-fixed">
                    <div class="c-header-2__main-info c-header-2__main-info-xs c-header-2__fixed-block" >
                        <a href="{{networkData.defaultBlogUrl}}" class="c-header-2__main-info__logo">
                            <img src="{{logo}}" class="image-fluid"  style="height:50px;"/>
                        </a>
                        <div class="c-navigation-2 c-navigation-2-md c-navigation-2__fixed">
                            <ul class="c-navigation-2__list d-none d-lg-flex">
                                {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
                            </ul>

                            <div class="c-navigation-2__icons d-lg-none">
                                <div class="c-navigation-2__icons__menu o-hamburger js-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</header>




{# ******************************************************
                    SEARCH BAR
****************************************************** #}
<div class="c-search-bar">
    <div class="container">
        <form class="c-search-bar__form" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
            <div class="c-search-bar__submit"></div>
            <input class="c-search-bar__input" type="text" name="s" placeholder="Search"/>
            <button class="c-button c-button--rounded c-button--blue" type="submit" id="searchsubmit">Go</button>
        </form>
    </div>
</div>




{# ******************************************************
                    RESPONSIVE NAV
****************************************************** #}
<div class="responsive-standalone">
    <ul class="standalone-menu">
        <li class="standalone-menu__date d-block d-md-none">
            {{date}}
        </li>
        <li class="c-search-bar d-block d-md-none">
            <form class="c-search-bar__form" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                <div class="c-search-bar__icon">{{ this.render('../../../partials/icons.twig', {icon: 'search'} ) | raw }}</div>
                <input class="c-search-bar__input" type="text" name="s" placeholder="Search"/>
                <button class="c-search-bar__button c-button c-button--rounded c-button--blue" type="submit" id="searchsubmit">Go</button>
            </form>
        </li>
        {{ this.render('../../../partials/_menu.twig', {
            'menu': headermenu
            }) | raw }}
    </ul>
    
    <div class="responsive-standalone-close">
        <div class="responsive-standalone-close-menu">{{networkData.title}}</div>
        <div class="responsive-standalone-close-close o-close o-close--dark"></div>
    </div>
</div>

<div class="responsive-standalone-overlay"></div>