{% set headermenu = _Menu.get({'menuType': 'header', "menuGroupName":"header-main"}) %}
{% set miniMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-mini'}) %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}



{% set logo = networkData.templatePath~'/static/images/logo.svg'%}

{% set logoWidth = 650 %}
{% set logoHeight = 144 %}

{% if config['logo'] is defined %}
    {% if config['logo']['width'] is defined %}
        {% set logoWidth = config['logo']['width'] %}

        {% if config['logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['logo']['height'] is defined %}
        {% set logoHeight = config['logo']['height'] %}

        {% if config['logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}




{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, logoWidth, logoHeight, {'crop': 'fit'} ) %}
{% endif %}

{% set theDate = _AppHelper.getCurrentTimestampBasedOnTimezone() %}
{% set date = _AppHelper.getDefaultTimezoneDateTime(theDate, "l, j F Y") %}


<div class="d-none d-md-block d-lg-none">
    <div class="container">
        <div class="c-header-1__mini-menu-container">
            <div id="" class="js-weather-container weather-panel-reverse c-header-1__weather-info c-header-1__weather-info-xs j-weather-panel" data-headertype="weatherPanel2"></div>

            <div class="c-header-1__mini-menu">
                {{this.render('../_submenu_navigation.twig', {
                items: miniMenu,
                class: 'c-header-1-top-bar__link',
            }) | raw}}
            </div>
        </div>
    </div>
</div>


<header class="c-header-1"  data-header="1">

    <div style="position:relative;height:100%">
        <div class="c-header-1__polygon"></div>
        <div class="container u-mobile-height-100%">
            <div class="row u-mobile-height-100%">
                <div class="col-12 c-header-1__container">
                    

                    
                    <div class="c-header-1-top-bar">
                        <div class="c-header-1__weather-info--date">{{date}}</div>
                        
                        <div id="" class="c-header-1__weather-info c-header-1__weather-info-xs j-weather-panel d-md-none d-lg-block" data-headertype="weatherPanel2"></div>
                        
                        <div class="c-header-1__mini-menu d-md-none d-lg-block">
                            {{this.render('../_submenu_navigation.twig', {
                                items: miniMenu,
                                class: 'c-header-1-top-bar__link',
                            }) | raw}}

                        </div>

                    </div>
                    



                    
                    
                    {% if loggedin %}
                        <div class="c-header-1__row2 c-header-1__row2-2">
                            <div class="c-header-1__mobile-login">
                                <a class="c-header-1__login-text" href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="">My account</a>
                                <a href="{{_AppHelper.getLogoffUrl()}}" class="c-header-1__login-text">Log out</a>
                            </div>
                        </div>

                        <div class="c-header-1__login-info d-none d-md-flex">
                            <a class="c-header-1__login-text" href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="" data-test="my-account-link">My account</a>
                            <a href="{{_AppHelper.getLogoffUrl()}}" class="c-header-1__login-text">Log out</a>
                        </div>

                    {% else %}
                        <div class="c-header-1__login-info">
                            <a id="signinBtn" href="javascript:;" class="c-button c-button--rounded c-button--blue-bordered u-margin-right-10">Log in</a>
                            <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions" class="c-button c-button--rounded c-button--blue">Subscribe</a>
                        </div>
                    {% endif %}



                    <div class="c-header-1__main-info u-mobile-height-100%">
                        <a href="{{networkData.defaultBlogUrl}}" class="c-header-1__main-info__logo">
                            <img src="{{logo}}" class="image-fluid"/>
                        </a>
                        <div class="c-navigation-1 c-navigation-1-md">
                            <ul class="c-navigation-1__list">
                                {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
                            </ul>
                            
                            <div class="c-navigation-1__icons">
                                <div class="c-navigation-1__icons__menu o-hamburger js-menu"></div>
                                <div class="c-navigation-1__icons__search js-searchButton">
                                    <div class="js-searchButton__search">{{ this.render('../../../partials/icons.twig', {icon: 'search'} ) | raw }}</div>
                                    <div class="js-searchButton__close d-none">{{ this.render('../../../partials/icons.twig', {icon: 'cross'} ) | raw }}</div>
                                </div>
                            </div>



                            
                        </div>
                    </div>

                    <div class="c-header-1__fixed c-header-1__fixed--off" id="j-menu-fixed">
                        <div class="c-header-1__main-info c-header-1__fixed-block" >
                            <a href="{{networkData.defaultBlogUrl}}" class="c-header-1__main-info__logo">
                                <img src="{{logo}}" class="image-fluid"  style="height:50px;"/>
                            </a>
                            <div class="c-navigation-1 c-navigation-1-md c-navigation-1__fixed">
                                <ul class="c-navigation-1__list d-none d-lg-flex">
                                    {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
                                </ul>

                                <div class="c-navigation-1__icons d-lg-none">
                                    <div class="c-navigation-1__icons__menu o-hamburger js-menu"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</header>

<div class="c-search-bar d-none d-md-block">
    <div class="container">
        <form class="c-search-bar__form" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
            <div class="c-search-bar__submit"></div>
            <input class="c-search-bar__input" type="text" name="s" placeholder="Search"/>
            <button class="c-button c-button--rounded c-button--blue" type="submit" id="searchsubmit">Search</button>
        </form>
    </div>
</div>

<div class="responsive-standalone">
    
    <ul class="standalone-menu">
        <li class="c-search-bar d-block d-md-none">
            <form class="c-search-bar__form" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                <div class="c-search-bar__icon">{{ this.render('../../../partials/icons.twig', {icon: 'search'} ) | raw }}</div>
                <input class="c-search-bar__input" type="text" name="s" placeholder="Search"/>
                <button class="c-search-bar__button c-button c-button--rounded c-button--blue" type="submit" id="searchsubmit">Go</button>
            </form>
        </li>
        {{ this.render('../../../partials/_menu.twig', {
            'menu': headermenu
            }) | raw }}
    </ul>
    
    <div class="responsive-standalone-close">
        <div class="responsive-standalone-close-menu">{{networkData.title}}</div>
        <div class="responsive-standalone-close-close o-close o-close--dark"></div>
    </div>

</div>

<div class="responsive-standalone-overlay"></div>